<!-- temperature box-->
<div class="w3-container w3-red conversion-box">
  <h3><u>Fahrenheit to Celsius</u></h3>
    <span class="highlight">{{ equation }}</span>
<br><br>
      Fahrenheit Temperature: <input type="text" ng-model="fahrenheit"><br><br>
      Temperature in Celsius: <h3>{{(fahrenheit - 32) * (5/9) | number:2}}</h3>
<hr>
   <h3><u>Celsius to Fahrenheit</u></h3>
      <span class="highlight">{{ equation2 }}</span><br><br>
        Celsius Temperature: <input type="text" ng-model="celsius"><br><br>
        Temperature in Fahrenheit: <h3>{{(celsius * 1.8) + 32 | number:2}}</h3>
            </div>