/* Tyler Tucker 2021 -- made with glitch.com
/
/ thanks to w3schools.com, fontawesome, google fonts
*/

/* --------------------------- imports ------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

/* ------------------------- variables ------------------------ */

:root {
  --color-bg: #FFFFFF; /* white */
  --color-text-main: #172b4dff; /* space cadet - dark blue */
  --color-primary: #0052ccff; /* cerulean-blue - medium blue */
  --color-secondary: #3e8989ff; /* dark-cyan - dark turqoise */
  --color-tertiary: #2a7f62ff; /* generic-viridian - medium green */
  --wrapper-height: 87vh;
  --image-max-width: 300px;
  --image-margin: 3rem;
  --font-family: "Roboto", sans-serif;

  /* Coolors.io color-scheme */
  /* src: https://coolors.co/172b4d-0052cc-ffffff-3e8989-2a7f62 */
  --space-cadet: #172b4dff;
  --cerulean-blue: #0052ccff;
  --white: #ffffffff;
  --dark-cyan: #3e8989ff;
  --generic-viridian: #2a7f62ff;

  /* other colors */
  --poppy-sunrise: #FF5630; /* reddish orange */
  --golden-state: #FFAB00; /* golden yellow */
  --fine-pine: #36B37E; /* pine tree green */
  --tamarama: #00B8D9; /* medium blue, slight turquoise */
  --da-juice: #6554C0; /* purple with a hint of blue */

  --linked-in: #0e76a8;
  --github: #8a63d2;
}

/* -------------------------page style----------------------*/

body {
  font-family: var(--font-family);
  background-color: var(--color-bg);
  padding: 1em;
}

header {
  text-align: center;
}

/* nav {
  background-color: var(--color-bg);
} */

nav ul {
  display: flex;
  list-style-type: none;
}

nav ul li {
  margin: 1em;
}

nav ul li:hover {
  opacity: 0.5;
}

main {
}

footer {
  text-align: center;
}

/* page-div that houses the resume box */
.page-div {
  margin: 1em;
  background-color: var(--color-primary);
  color: white;
  padding: 1em;
}

/*------------resume objects------------*/

.resume-div {
  margin: 0.5em;
}

.resume-section {
  background-color: var(--color-bg);
  /*   color: var(--color-secondary); */
  color: black;
  padding: 0.5em;
}

.resume-section a {
  color: var(--poppy-sunrise);
  text-decoration: none;
}

.resume-section a:hover {
  color: var(--tamarama);
  text-decoration: none;
}

/* resume div ids for animation */

#edu-section {
}

#work-section {
}

#skills-section {
}

#proj-section {
}

/*--------------------icon styles-----------*/

.social-div {
  font-size: 35px;
}

.social-div a:hover {
  opacity: 0.5;
  color: var(--color-text-main);
}

#github-icon:hover {
  color: var(--github);
}

#linkedin-icon:hover {
  color: var(--linkedin);
}

#gradcap-icon {
  color: var(--poppy-sunrise);
}

#work-icon {
  color: var(--golden-state);
}

#skills-icon {
  color: var(--fine-pine);
}

#projects-icon {
  color: var(--tamarama);
}

.avatar-pic {
  height: 100px;
  width: 100px;
}

#btn-link {
  text-decoration: none;
}

/* ------------------------- back to top ----------------- */

#topBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#topBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}
